@font-face {
    font-family: 'Sora';
    src: url('./assets/fonts/Sorhe-Regular.otf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Sora';
    src: url('./assets/fonts/Sorhe-Bold.otf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}
  

@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar {
    transition: transform 0.3s ease-in-out;
}
.sidebar-hidden {
    transform: translateX(-100%);
}
.sidebar-visible {
    transform: translateX(0);
}
